{% extends "./base.html" %}
{% block title %}Blog{% endblock %}
{% load static %} 
{% block body %}
<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div>
        <h1 style="color: white;" class="py-4">Axel Soriano</h1>
        <h3 style="color: white;">Creador</h3> 
        <br>
        <h3 style="color: blue;" class="py-4">
            ¡Hola a todos! Hoy vamos a explorar el emocionante mundo de los blogs. 
            Un blog es como un diario digital donde puedes compartir tus pensamientos, 
            conocimientos o pasiones con el mundo. Pero, ¿por qué crear uno? 
            Los beneficios son muchos: desde conectar con personas afines hasta posicionarte como experto en un tema. 
            ¡Así que prepárense para descubrir cómo dar vida a su propio blog!
        </h> 
    </div>        
</div>
{% endblock %}