{% extends "./base.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h2 class="colorh2" >Registro de Entrada</h2>
        <div class="card">
            <div class="card-body">
                <form action="/guardarBlog/" method="POST" enctype="multipart/form-data">{% csrf_token %}
                
                    <div class="form-group mb-3">
                        <input type="text" name="txtTitulo" id="txtTitulo" class="form-control" placeholder="Titulo" maxlength="100" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" name="txtSubtitulo" id="txtSubtitulo" class="form-control" placeholder="Subtitulo" maxlength="100" required>
                    </div>

                    <div class="form-group mb-3">
                        <textarea name="txtCuerpo" id="txtCuerpo" class="form-control" placeholder="Cuerpo" required></textarea>
                    </div>

                    <div class="form-group mb-3">
                        <input type="text" name="txtAutor" id="txtAutor" class="form-control"  placeholder="Autor" required>
                    </div>

                    <div class="form-group mb-3">
                        <input type="date" name="txtFecha" id="txtFecha" class="form-control"  placeholder="Fecha" required>
                    </div>


                    <div class="form-group mb-3">
                        Seleccione la Foto
                        <input type="file" name="txtFoto" id="txtFoto" class="form-control" accept="image/*" placeholder="Foto" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <button type="submit" class="form-control btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
                <a class="btn btn-danger" href="/principalB/">Cancelar</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}