{% extends "./base.html" %}
{% block title %}Estudiantes{% endblock %}
{% block body %}

<div class="row">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
        <h2 class="colorh2" >Registro de Estudiantes</h2>
        <div class="card">
            <div class="card-body">
                <form action="/registrarEstudiantes/" method="POST">{% csrf_token %}
                
                    <div class="form-group mb-3">
                        <input type="text" name="txtNombre" id="txtNombre" class="form-control" placeholder="Nombre" maxlength="50" required>
                    </div>
                    <div class="form-group mb-3">
                        <input type="text" name="txtApellido" id="txtApellido" class="form-control" placeholder="Apellido" maxlength="50" required>
                    </div>
                    
                    <div class="form-group mb-3">
                        <input type="Email" name="txtEmail" id="txtEmail" class="form-control"  placeholder="Correo" required>
                    </div>
                    <div class="form-group mb-3">
                        <button type="submit" class="form-control btn btn-success btn-block text-white">Guardar</button>
                    </div>
                </form>
                <a class="btn btn-danger" href="/principalEstudiantes/">Cancelar</a>
            </div>
        </div>
    </div>
    </div>
{% endblock %}